/* styles for the restaurants by city view */

.row-fluid .span8 {
	margin-left: 164px;
}

h2.rest-header {
	text-align: center;
}

li {
	list-style-type: none;
}

div.restaurant {
	min-height: 46px;
}

a.restaurant_name {
	font-size: 20px;
	float: left;
}

span {
	color: rgb(54, 50, 50);
}

span.phone {
	float: right;
}

span.cuisine {
	float: left;
/* 	padding-left: 14px; */
	clear: both;
}

span.address {
	float: right;
}

div.description {
	clear: both;
	padding-top: 10px;
	margin-left: 14px;
	margin-right: 30px;
	font-size: 12px;
}

@media (max-width: 767px) {
	.row-fluid .span8 {
		margin-left: 0;
	}
}

@media (max-width: 320px) {	
	a.restaurant_name {
		font-size: 14px;
	}
	
	span.cuisine {
		font-size: 10px;
		padding-left: 2px;
	}
	
	span.phone {
		padding-left: 2px;
		padding-top: 2px;
	}
}
