
.restaurant-info {
	padding: 20px;
}

.restaurant-info .name {
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 2px;
}

ul#menus {
	padding-left: 8px;
}

a.selected {
	background-color: #F7F7F7;
	border: 1px solid;
	padding: 2px;
}

.menuImage {
	width: 90%;
}

.menuImage img {
	display: block;
	margin: auto;
	padding-top: 20px;
}

.menu-nav {
	display: block;
	margin: 0 auto;
}

.menu-nav li {
	display: inline-block;
	padding-left: 10px;
}

.menu-nav li.nomenu {
	display: list-item;
	padding-bottom: 2px;
}

.submit-menu {
	font-style: italic;
	font-size: 85%;
}