/* this will be the main site-wide stylesheet */

@font-face {
	font-family: 'Canter Bold';
	src: url('../files/Canter Bold.otf');
}

/** Layout **/
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	max-width: 1000px
}

.container-fluid {
	padding-bottom: 40px;
}

.footer, .push {
	height: 4em;
	max-width: 1000px;
	margin: 0 auto;
}

.footer {
	border-top: 1px solid #CEC6C6;
}

.footer p {
	margin: 10px 0 10px;
}


.header {
	max-width: 1000px;
	padding-top: 20px;
	min-height: 12em;
	text-align: center;
	overflow: hidden; 
	border-bottom: 1px solid #CEC6C6;
}

body {
	padding-bottom: 60px;
}

hr {
	border-top: 1px solid #CEC6C6;
}

/* Custom container */
/*
.container {
	margin: 0 auto;
	max-width: 1000px;
}
*/
.container > hr {
	margin: 60px 0;
}


.header h1 {
	font-size: 100px;
	line-height: 1;
}


/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	padding: 0;
}
.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}
.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}
.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255,255,255,.75);
	border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}

#RestaurantSearchForm {
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 300px;
	padding-left: 66px;
}

#RestaurantSearchForm .input, label, .text, .submit {
	display: inline-block;
}

#RestaurantSearchForm .submit {
	padding-left: 6px;
	margin-top: 2px;
	vertical-align: top;
}

.homepage {
	/*margin-left: 60px;*/
}

h1.home {
	font-family: 'Canter Bold';
	text-transform: uppercase;
}

h1.home a, h2.home a {
	color: #000;
	text-decoration: none;
}

p.home {
	padding-top: 20px;
	height: 140px;
	font-size: 12px;
	margin-left: 86px;
	margin-right: 40px;
}

#main-blurb {
	font-size: 16px;
	font-weight: bold;
	margin-right: 2px;
}

ul.nav {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-left: 65px;
}

ul.nav li {
	display: inline-block;
	padding-left: 10px;
}


ul {
	margin-left: 16px;
}

a.viewmore {
	font-size: 12px;
	font-style: italic;
}

.footer .nav {
	margin-left: 0;
	text-align: left;
	padding-top: 10px;
}

@media (max-width: 767px) {
	.span9 {
		margin: 0 auto;
		padding-right: 80px;
		padding-bottom: 10px;
	}

}

@media (max-width: 320px) {
	.homepage {
		margin-left: 36px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.span9 {
		padding-right: 0;
	}
	
	.span9 .nav {
		margin-left: 0;
	}
	
	a.restaurant_name {
		font-size: 18px;
	}
}
